/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-okt-2014, 8:55:45
    Author     : jan.vanbiervliet
*/

@font-face {
  font-family: "Amerika";
  src: url('../fonts/AMERIKA_.eot');
  src: url('../fonts/AMERIKA_.ttf') format('truetype');
}



/* HTML */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  background-color: #e7eae5;  
}



/* COLORS */
.gradient-black-green {
  background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.51, #26542E),
	color-stop(0.96, #041201)
);
background-image: -o-linear-gradient(bottom, #26542E 51%, #041201 96%);
background-image: -moz-linear-gradient(bottom, #26542E 51%, #041201 96%);
background-image: -webkit-linear-gradient(bottom, #26542E 51%, #041201 96%);
background-image: -ms-linear-gradient(bottom, #26542E 51%, #041201 96%);
background-image: linear-gradient(to bottom, #26542E 51%, #041201 96%);
}
.greengray {
  background-color: #718067;
}
.titlebar {
  color: white;
}



/* MISC */
.clear {
  clear: both;
}
.centreer {
  text-align: center;
}
.titlebar h2 {  
  margin: 0;
  padding: 20px 0 10px 0;  
}
.col-xs-4 {
  padding-left: 6px;
  padding-right: 6px;
}
.col-xs-4 {
  height: 300px;  
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -240px;
}



/* HEADER */
#header {
  height: 160px;    
  color: #ffffcc;
  width: 100%;
}
#header h1 {
  font-family: 'Amerika';
  font-size: 4em;
}



/* NAV */
#nav .navbar-brand {
  color: yellow;
}
.navbar {
  margin-bottom: 0;
}
#nav li a {
  color: white;
}
#nav li a:hover {
  color: #cccccc;
}




/* CONTENT */
#showcase-content {
  width: 100%;
}
.over-mezelf {
  border: 1px #587149 solid;
  height: 220px;
}
.over-mezelf h2 {
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}




/* FOOTER */
#footer {  
  height: 100px;
  width: 100%;
  color: white;
  background: black;
}
#footer div {
  padding-top: 18px;
  text-align: center;
}
#footer, .push {
  height: 240px;
}