/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-okt-2014, 8:55:45
    Author     : jan.vanbiervliet
*/

@font-face {
  font-family: "Amerika";
  src: url('../fonts/AMERIKA_.eot');
  src: url('../fonts/AMERIKA_.ttf') format('truetype');
}
@font-face {
  font-family: "TobagoPoster";
  src: url('../fonts/Tobago_Poster.eot');
  src: url('../fonts/Tobago_Poster.ttf') format('truetype');
}



/* HTML */
* {
  margin: 0;
}
html, body {
  height: 100%;
}



/* COLORS */
body {
  background-color: #3C6A5F;
  padding-top: 212px;
}
#bio {
  background-color: white;
}
#bio .titlebar {
  /*background: #330099;*/
}
.bio-content {
  /*background: white;*/
}
.gradient-black-green {
    background-image: -webkit-gradient(
  	linear,
  	left top,
  	left bottom,
  	color-stop(0.51, #26542E),
  	color-stop(0.96, #041201)
  );
  background-image: -o-linear-gradient(bottom, #26542E 51%, #041201 96%);
  background-image: -moz-linear-gradient(bottom, #26542E 51%, #041201 96%);
  background-image: -webkit-linear-gradient(bottom, #26542E 51%, #041201 96%);
  background-image: -ms-linear-gradient(bottom, #26542E 51%, #041201 96%);
  background-image: linear-gradient(to bottom, #26542E 51%, #041201 96%);
}
.greengray {
  background-color: #718067;
}
.col-sm-4 {
  background: #3C6A5F;
  padding-left: 0;
  padding-right: 0;
}
.col-sm-3, 
.col-sm-5, 
.col-sm-7, 
.col-sm-8,
.col-sm-9,
.col-sm-12 {
  padding: 0;
}
.titlebar {
  font-family: "TobagoPoster";
  color: white;
}
.orangebg {
  background: orange;
}
.subtitlebar { 
  font-family: sans-serif;
  background: black;
  color: white;
}
#bio .subtitlebar:hover {
  background-color: #323204;
  color: gold;
}
.btn-selected {
  background: white;
  color: black;
}
.omschrijving {
  color: white;
  background-color: #A27502;
}
.yellowbg {
  background: yellow;
}

/*nav*/
#nav .navbar-brand {
  color: yellow;
}
#nav li a {
  color: white;
}
#nav li a:hover {
  color: #cccccc;
}

/*footer*/
#footer {
  color: white;
}




/* MISC */
.clear {
  clear: both;
}
.centreer {
  text-align: center;
}
.lijn_rechts_uit {
  text-align: right;
}
.lijn_links_uit {
  text-align: left;
}
.lijn_uitvullen {
  text-align: justify;
}
.row {
  margin: 0;
  width: 100%;
}
.titlebar h2 {  
  margin: 0;
  padding: 10px 0 10px 0;
}
.subtitlebar p {
  margin:0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.col-sm-4 {
  
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -240px;
}




/* HEADER */
#header {
  position: relative;
  height: 160px;      
  width: 100%;
  padding: 0;
}
#header h1 {  
  position: absolute;
  z-index: 999;
  font-family: 'Amerika';
  font-size: 4em;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
}
#logo-container {
    
}
#logo-container img {
  width: 100%;
  height: 160px;
  float: right;
}




/* NAV */
.navbar {
  margin-bottom: 0;
}




/* CONTENT */
#showcase-content {
  width: 100%;
  padding: 0;
}
.over-mezelf {
  /*border: 1px #265046 solid;*/
  height: 260px;
  padding-left: 1px;
  padding-right: 1px;
}
.over-mezelf h2 {
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.over-mezelf img {
  padding-top: 10px;   
}
.omschrijving {  
  font-size: 1.6em;
  height: 62px;
  margin-top: 25px;
  padding-top: 13px;
}
#bio h2 {
  padding-right: 12px;
}
#bio>div {
  /*height: 220px;*/
}
#bio ul {
  list-style-type: none;
  padding-left: 0;
}
#bio .subtitlebar {  
  padding: 10px 10px 10px 0;
}
#bio .btn {
  width: 100%;
}
.bio-content {
  padding: 12px;
}
#personalia-content img {
  float: right;
  margin: 10px 10px 10px 60px;
}
.def {
  font-weight: bold;
}
.desc {
  
}





/* FOOTER */
#footer {  
  height: 100px;
  width: 100%;  
  background: black;
}
#footer div {
  padding-top: 18px;
  text-align: center;
}
#footer, .push {
  height: 240px;
}