{% extends 'base.twig' %}

{% block title %}Contact{% endblock %}

{% block extracss %}
  <link href="./css/contact.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block mainmenu %}  
{% embed 'main_menu.twig' %}{% endembed %}
{% endblock %}

{% block content %}  
  <div id="contact">
    <h1>Contact</h1>
    <form action="verzend_mail.php" method="post" class="shadify bgblue">
      
      <label for="voornaam">Voornaam</label>
      <br />
      <input type="text" name="voornaam" id="voornaam" />
      <br />
      
      <label for="achteraam">Achternaam</label>
      <br />
      <input type="text" name="achteraam" id="achteraam" />
      <br />      
      
      <label for="email">Emailadres</label>
      <br />
      <input type="text" name="email" id="email" />
      <br />      
      
      <label for="boodschap">Boodschap</label>
      <br />
      <textarea name="boodschap">Beste Jan, </textarea>
      <br />
      
      <input type="submit" value="Verzend"/>
    </form>
  </div>
{% endblock %}