<div id="curr_wrapper">
  <div id="curriculum" class="centreer">
    <h1 class="centreer">Curriculum Vitae</h1>
    <div id="fixeddiv">

    </div>

    <section id="personalia" class="cvsection shadify bgblue">
      <h2>Personalia</h2>
      <div class="hide">

        <article>
          <ul>
            <li>Jan Van Biervliet</li>
            <li>Pyckestraat 3, 2018 Antwerpen</li>
            <li><a href="mailto:janvb@pandora.be?Subject=Dag%20Jan">janvb@pandora.be</a></li>
            <li><a href="http://www.linkedin.com/in/janvanbiervliet" target="_blank">www.linkedin.com/in/janvanbiervliet</a></li>
          </ul>
        </article>

      </div>
    </section>

    <section id="overmezelf" class="cvsection shadify bgblue">
      <h2>Over mezelf</h2>

      <div class="hide">
        <article>
          <p>
            Ik ben een junior / medior profiel en ben op zoek naar een functie 
            als PHP-ontwikkelaar. Dankzij de intensieve opleiding, die ik volg 
            in het VDAB-opleidingscentrum, word ik op korte tijd klaargestoomd 
            om als allround webdev aan de slag te kunnen gaan. Mijn ambitie is 
            om te groeien tot een volwaardige senior webdeveloper / PHP-goeroe.
          </p>
        </article>
      </div>

    </section>

    <section id="carriere" class="cvsection shadify bgblue">
      <h2>Carri&egrave;re</h2>

      <div class="hide">
        <article>
          <h3 class="title">Verification specialist</h3>
          <span class="cvsection_left">Maa 2010 - Maa 2013</span>
          <span class="cvsection_middle">Agfa-Gevaert NV</span>
          <span class="cvsection_right">Mortsel</span>
          <p>Verificatie NX software: medische beeldvorming (acquisitie).</p>
        </article>

        <article>
          <h3 class="title">Infrastructure Management</h3>
          <span class="cvsection_left">Jan 2009 - Feb 2010</span>
          <span class="cvsection_middle">Agfa-Gevaert NV</span>
          <span class="cvsection_right">Mortsel</span>
          <p>Virtualisatie / beheer van IMPAX: virtuele testmachines voor medische 
            beeldvorming (PACS).</p>
        </article>

        <article>
          <h3 class="title">Junior .NET Webdeveloper</h3>
          <span class="cvsection_left">Mei 2008 - Jun 2008</span>
          <span class="cvsection_middle">Foreach bvba</span>
          <span class="cvsection_right">Merksem</span>
          <p>Web development met ASP.NET.</p>
        </article>

        <article>
          <h3 class="title">Junior Java Developer (Digitale tv)</h3>
          <span class="cvsection_left">Feb 2007 - Maa 2008</span>
          <span class="cvsection_middle">USG-Innotiv</span>
          <span class="cvsection_right">Herentals</span>
          <p>Software Testing /Debugging.</p>
          <p>Netbeans, Eclipse, MySQL, Office, Efx (GUI ontwikkeling).</p>
        </article>

        <article>
          <h3 class="title">Junior Java Developer (Datacommunicatie)</h3>
          <span class="cvsection_left">Okt 2006 - Jan 2007</span>
          <span class="cvsection_middle">USG-Innotiv</span>
          <span class="cvsection_right">Herentals</span>
          <p>Java-IO.</p>
          <p>SNMP.</p>
        </article>


        <article>
          <h3 class="title">Development</h3>
          <span class="cvsection_left">Jan 2006 - Mei 2006</span>
          <span class="cvsection_middle">Computer Company</span>
          <span class="cvsection_right">Antwerpen</span>
          <p>Database replicatie.</p>
          <p>Database wordt gebruikt via webinterface (OsCommerce).</p>
        </article>

        <article>
          <h3 class="title">Jobstudent</h3>
          <span class="cvsection_left">Jul 2002</span>
          <span class="cvsection_middle">Audio &amp; Media</span>
          <span class="cvsection_right">Antwerpen</span>
          <p>PC assemblage en -herstel.</p>
          <p>Interne training i.v.m. gebruik van toepassingen.</p>
        </article>
      </div>

    </section>

    <section id="opleidingen" class="cvsection shadify bgblue">
      <h2>Opleidingen</h2>

      <div class="hide">

        <article>
          <h3 class="title">PHP development</h3>
          <span class="cvsection_left">Maa 2014 - n.n.v</span>
          <span class="cvsection_middle">VDAB Opleidingscentrum</span>
          <span class="cvsection_right">Antwerpen</span>
          <p>MySQL, HTML / CSS, PHP, Javascript ,jQuery, SCRUM, Symfony, OOP, Doctrine, Drupal, ...</p>
        </article>

        <article>
          <h3 class="title">Opleiding als PC- en netwerktechnicus</h3>
          <span class="cvsection_left">Maa 2009 - Apr 2009</span>
          <span class="cvsection_middle">Be One</span>
          <span class="cvsection_right">Ternat</span>
          <p>Windows 2003 Server.</p>
          <p>Cisco CCNA.</p>
        </article>

        <article>
          <h3 class="title">Bachelor Bedrijfs- en Toegepaste Informatica</h3>
          <span class="cvsection_left">Sept 2003 - Jun 2006</span>
          <span class="cvsection_middle">Hogeschool Antwerpen</span>
          <span class="cvsection_right">Antwerpen</span>      
        </article>
      </div>
    </section>

    <section id="stages" class="cvsection shadify bgblue">
      <h2>Stages</h2>

      <div class="hide">

        <article>
          <h3 class="title">Stage PC- en netwerktechnicus</h3>
          <span class="cvsection_left">Maa 2009 - Apr 2009</span>
          <span class="cvsection_middle">Be One</span>
          <span class="cvsection_right">Ternat</span>
          <p>Netwerkaudit</p>
        </article>

        <article>
          <h3 class="title">Development</h3>
          <span class="cvsection_left">Jan 2006 - Mei 2006</span>
          <span class="cvsection_middle">Computer Company</span>
          <span class="cvsection_right">Antwerpen</span>
          <p>Database replicatie voor gebruik kassapakket via OsCommerce.</p>
        </article>

      </div>
    </section>

    <section id="talen" class="cvsection shadify bgblue">
      <h2>Talenkennis</h2>
      <div class="hide">
        <article>
          <p><b>Nederlands, Spaans, Engels:</b><span class="cvsection_middle"> vlot</span></p>
          <p><b>Frans:</b> <span class="cvsection_middle">voldoende</span></p>
        </article>
      </div>
    </section>

    <section id="hobbys" class="cvsection shadify">
      <h2>Hobby &#39; s</h2>
      <div class="hide">
        <article>
          <!-- TODO: JAVASCRIPT onclick hobbies => lijst in new page met referenties / afbeeldingen -->
          <span>Technologie, wetenschap, filosofie, fietsen, lezen ... </span>
        </article>
      </div>
    </section>
  </div>
</div>