<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Contact</h2>
      </div>
    </div>
    <form class="form-horizontal" action="verzend_mail.ph">        
      <div class="row">
        <div class="col-sm-4 form-group-sm">
          <label for="voornaam">Voornaam</label>
          <input class="form-control" type="text" id="voornaam" name="voornaam" />
          <label for="achternaam">Achternaam</label>
          <input class="form-control" type="text" id="achternaam" name="achternaam" />
          <label for="email">E-mailadres</label>
          <input class="form-control" type="email" id="email" name="email" />          
        </div>
        <div class="col-sm-8 form-group-sm">
          <label for="message">Bericht</label>
          <textarea id="message" class="form-control" rows="8"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input type="submit" value="Verstuur" />
        </div>
      </div>
    </form>
  </div>
</div>