{% block content %} 
  <section id="frisdrank" class="container">
    <div class="row"> 
      <div class="col-sm-12">
        <div class="titlebar orangebg centreer">
          <h2>Tweede opdracht: een frisdrankautomaat</h2>
        </div>        
        <p class="spacing">
          Deze Opdracht hefet een frisdrankautomaat als thema. De bedoeling was om een 
          gebruiksvriendelijke interface te ontwerpen. De gebruiker moet zonder 
          aanmelden kunnen gebruikmaken van de frisdrankautomaat.
        </p>
        <p class="spacing">
          Er moeten munten kunnen worden ingevoerd aan de hand van vijf knoppen 
          (10 cent tot 2 euro).
        </p>
        <p class="spacing">
          In de databank worden de frisdrankgegevens opgeslagen, samen met de beschikbare 
          hoeveelheden per drank.
        </p>
        <p class="spacing">
          Als uitbreiding is er een admin interface voorzien, beveiligd met 
          gebruikersnaam / paswoord. De interface maakt het mogelijk om drank aan te 
          vullen (max. 20 stuks) en om de geldlade leeg te halen.
        </p>        
      </div>
    </div>
    <div id="logon-details" class="row">
      <div class="col-sm-12 centreer green">
        Login met gebruiker: peter / paswoord: griffin
      </div>
    </div>
  </section><!-- EINDE FRISDRANK section -->

  <section id="actions">
    <div class="row">
      <div class="col-sm-6 centreer">
        <div id="download" class="glyphicon glyphicon-eye-open btn btn-default"> Download broncode</div>
      </div>
      <div class="col-sm-6">
        <div class="glyphicon glyphicon-link btn btn-default"> <a href="http://frisdrank.janvanbiervliet.be" target="_blank">Ga naar project</a></div>
      </div>
    </div>
  </section>
{% endblock %}