<div id="showcase-content" class="container">
  <div class="row centreer">

    <div class="row">
      <div class="col-sm-12">
        <div class="titlebar" name="over-mezelf">
          <h2>Over mezelf</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="subtitlebar">
          <p>&quot; Wat ik hoog in het vaandel draag &quot;</p>
        </div>
      </div>
    </div>

    <div class="row">
      
      <!-- ZELFONTWIKKELING -->
      <div class="col-sm-4">
        <div class="over-mezelf">
          <img src="./img/ontwikkeling.png" alt="ontwikkeling"/>
          <div class="omschrijving"><span>(zelf)ontwikkeling</span></div>
        </div>
      </div> 
      
      <!-- CREATIVITEIT -->
      <div class="col-sm-4">        
        <div class="over-mezelf">
          <img src="./img/creativiteit.png" alt="creativiteit"/>
          <div class="omschrijving"><span>creativiteit</span></div>
        </div>        
      </div>      
      
      <!-- NIEUWSGIERIGHEID -->
      <div class="col-sm-4">
        <div class="over-mezelf">
          <img src="./img/nieuwsgierigheid.png" alt="nieuwsgierigheid"/>
          <div class="omschrijving"><span>nieuwsgierigheid</span></div>
        </div>
      </div>   
                      
    </div>

  </div>
</div>