<div id="showcase-content" class="container">

  <!-- BIO -->
  <div id="bio" class="row">
    <div class="col-sm-3">
      <div class="titlebar lijn_rechts_uit orangebg">
        <h2>Bio</h2>
        <ul class="btn-group-justified">
          <li id="personalia-btn"><p class="subtitlebar btn btn-default">Personalia</p></li>
          <li id="sterke-punten-btn"><p class="subtitlebar btn btn-default">Sterke punten</p></li>
          <li id="varia-btn"><p class="subtitlebar btn btn-default">Varia</p></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9 bio-content">

      <div id="personalia-content">        
        <img src="./img/Pasfoto_outline_200.png" alt="Mijn pasfoto"/>
        <div class="desc">Jan James Oswaldo Van Biervliet</div>        
        <div class="desc">0468.13.92.15</div>
        <div class="desc"><a href="mailto:devel@janvanbiervliet.be">devel@janvanbiervliet.be</a></div>
        <div class="desc"><a href="https://www.linkedin.com/in/janvanbiervliet">https://www.linkedin.com/in/janvanbiervliet</a></div>
      </div>

      <div id="sterke-punten-content">  
        <span>Ik ben een </span>
        <div> generalist<span> maar ook een</span></div>
        <div> doorzetter<span> met een </span></div>
        <div> empathisch vermogen</div>
        <div><span> en een goed </span>gevoel voor humor</div>
      </div>

      <div id="varia-content">
        Ih hou van de wonderen van 
        <span class="even-font">technologie</span> en 
        <span class="even-font">wetenschap</span>. Ik vind het evenwel belangrijk
        om met regelmaat aan <span class="even-font">sport</span>ieve activiteiten 
        te doen, zoals <span class="even-font">gewichtheffen</span> en 
        <span class="even-font">fietsen</span>. Ben ook niet vies van een partij
        <span class="even-font">poolbiljart</span> en kan ook van een <span class="even-font">videospelletje </span>
        genieten.
      </div>      

    </div>
  </div><!-- EINDE BIO -->

  <!--OVER MEZELF -->
  <div id="overmezelf" class="row centreer">
    <div class="row">
      <div class="col-sm-12">
        <div class="titlebar orangebg" name="over-mezelf">
          <h2>En verder ...</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="subtitlebar">
          <p>&quot; Wat ik hoog in het vaandel draag &quot;</p>
        </div>
      </div>
    </div>

    <!-- ZELFONTWIKKELING -->
    <div class="row">
      <div class="col-sm-4">
        <div class="over-mezelf">
          <img src="./img/ontwikkeling.png" alt="ontwikkeling"/>
          <div class="omschrijving"><span>(zelf)ontwikkeling</span></div>
        </div>
      </div> 

      <!-- CREATIVITEIT -->
      <div class="col-sm-4">        
        <div class="over-mezelf">
          <img src="./img/creativiteit.png" alt="creativiteit"/>
          <div class="omschrijving"><span>creativiteit</span></div>
        </div>        
      </div>      

      <!-- NIEUWSGIERIGHEID -->
      <div class="col-sm-4">
        <div class="over-mezelf">
          <img src="./img/nieuwsgierigheid.png" alt="nieuwsgierigheid"/>
          <div class="omschrijving"><span>nieuwsgierigheid</span></div>
        </div>
      </div>   
    </div>
  </div><!-- EINDE OVER MEZELF -->
</div><!-- EINDE CONTAINER -->