<div id="showcase-content" class="container">
  <div class="row centreer">
    
    <div class="titlebar gradient"><h1>Over mezelf</h1></div>
    
    
  </div>
  <div class="row centreer">
    
  </div>
</div>