<div id="showcase-content" class="container">
  <div class="row centreer">
    
    <div class="titlebar">
      <h1>In den beginne ... </h1>
    </div>
    
  </div>
  <div class="row centreer">
    
  </div>
</div>