<div id="showcase-content" class="container">
  <div class="row centreer">

    <div class="row">
      <div class="col-xs-3">
        <div class="over-mezelf titlebar greengray"><h2>Over mezelf</h2></div>
      </div>      
      <div class="col-xs-3">
        <div class="over-mezelf greengray"></div>
      </div>      
      <div class="col-xs-3">
        <div class="over-mezelf greengray"></div>
      </div>      
      <div class="col-xs-3">
        <div class="over-mezelf greengray"></div>
      </div>                 
    </div>

  </div>
  <div class="row centreer">

  </div>
</div>