<div id="showcase-content" class="container">

  <!-- BIO -->
  <div id="bio" class="row">
    <div class="col-sm-3">
      <div class="titlebar lijn_rechts_uit orangebg">
        <h2>Bio</h2>
        <ul class="btn-group-justified">
          <li id="personalia-btn"><p class="subtitlebar btn btn-default">Personalia</p></li>
          <li id="sterke-punten-btn"><p class="subtitlebar btn btn-default">Sterke punten</p></li>
          <li id="over-mezelf-btn"><p class="subtitlebar btn btn-default">Wat ik graag doe</p></li>
          <li id="varia-btn"><p class="subtitlebar btn btn-default">Varia</p></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9 bio-content">

      <div id="personalia-content">        
        <img src="./img/Pasfoto_outline_200.png" alt="Mijn pasfoto"/>
        <span class="def">Naam </span><span class="desc">Jan James Oswaldo Van Biervliet</span><br/>
        <span class="def">Leeftijd </span><span class="desc">33</span><br/>
        <span class="def">Emailadres </span><span class="desc">devel@janvanbiervliet.be</span><br/>
      </div>

      <div id="over-mezelf-content">
        <p>
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
        </p>
      </div>

      <div id="sterke-punten-content">
        <p>
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
        </p>
      </div>

      <div id="varia-content">
        <p>dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>      

    </div>
  </div><!-- EINDE BIO -->

  <!--OVER MEZELF -->
  <div id="overmezelf" class="row centreer">
    <div class="row">
      <div class="col-sm-12">
        <div class="titlebar orangebg" name="over-mezelf">
          <h2>Over mezelf</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="subtitlebar">
          <p>&quot; Wat ik hoog in het vaandel draag &quot;</p>
        </div>
      </div>
    </div>

    <!-- ZELFONTWIKKELING -->
    <div class="row">
      <div class="col-sm-4">
        <div class="over-mezelf">
          <img src="./img/ontwikkeling.png" alt="ontwikkeling"/>
          <div class="omschrijving"><span>(zelf)ontwikkeling</span></div>
        </div>
      </div> 

      <!-- CREATIVITEIT -->
      <div class="col-sm-4">        
        <div class="over-mezelf">
          <img src="./img/creativiteit.png" alt="creativiteit"/>
          <div class="omschrijving"><span>creativiteit</span></div>
        </div>        
      </div>      

      <!-- NIEUWSGIERIGHEID -->
      <div class="col-sm-4">
        <div class="over-mezelf">
          <img src="./img/nieuwsgierigheid.png" alt="nieuwsgierigheid"/>
          <div class="omschrijving"><span>nieuwsgierigheid</span></div>
        </div>
      </div>   
    </div>
  </div><!-- EINDE OVER MEZELF -->
</div><!-- EINDE CONTAINER -->