<div id="nav" class="navbar navbar-inverse navbar-fixed" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand glyphicon glyphicon-home" href="index.php"></a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">      
      <li>
        <a href="projecten.php">Projecten</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</div>