
{% block projectenlijst %}
  <ul id="projectenlijst">    
    <li><a href="http://portfolio.videotheek.local">Videotheek</a></li>
    <li><a href="http://portfolio.frisdrank.local">Frisdrank</a></li>
    <li><a href="http://portfolio.broodjes.local">Broodjes</a></li>
    <li><a href="http://bakkerij.janvanbiervliet.be">Bakkerij</a></li>
  </ul>
{% endblock %}